@font-face {
  font-family: Font-awesome-light;
  src: url(../fontawesome/Font\ Awesome\ 5\ Pro-Light-300.otf);
}
/* document */
body {
  font-family: "Poppins Light", sans-serif;
  font-weight: 300;
}

h1, h2 {
  font-family: "Poppins Semibold", sans-serif;
  font-weight: 600;
}

.h3, h3 {
  font-size: calc(1.2rem + 0.6vw);
}

.h4, h4 {
  font-size: calc(1rem + 0.2vw);
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 92px;
}

.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.btn.btn-primary {
  background-color: #2c306f;
  border-color: #2c306f;
  color: #ffffff;
}
.btn.btn-primary:hover {
  background-color: #ffd048;
  border-color: #ffd048;
  color: #2c306f;
}
.btn.btn-link {
  text-decoration: none;
  color: #2c306f;
}
.btn.btn-link:hover {
  background-color: rgba(165, 228, 220, 0.4);
}
.btn.btn-outline-secondary {
  color: #2c306f;
  border-color: #2c306f;
}
.btn.btn-outline-secondary:hover {
  color: #ffffff;
  border-color: #2c306f;
  background-color: #2c306f;
}
.btn.btn-icon {
  display: inline-flex;
}
.btn.btn-icon i {
  font-size: 22px;
  padding-left: 6px;
  display: flex;
  align-self: flex-end;
}

.text-left, .text-right {
  text-align: center;
}

/* header */
header {
  background-color: #ffd048;
}

li.nav-item {
  padding-left: 24px;
  padding-right: 24px;
}

.navbar {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: #ffd048;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(44, 48, 111, 0.8);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: #2c306f;
  font-weight: 600;
  font-family: "Poppins Semibold", sans-serif;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #2c306f;
}

.navbar-light .navbar-toggler {
  color: #2c306f;
  border-color: transparent;
  font-size: 24px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

i#theIcon {
  text-align: center;
  width: 21px;
}

/* main */
.hero {
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center center;
  padding: 1rem;
  background-color: #ffd048;
}
.hero .hero-info {
  margin: 3rem auto;
  padding: 6rem 0 3rem;
}

.recent-work .middle-section {
  border-top: 1px solid rgba(41, 41, 41, 0.2);
  border-bottom: 1px solid rgba(41, 41, 41, 0.2);
}
.recent-work img {
  border-radius: 4px;
}

.text-side {
  align-self: center;
}

.bubble {
  display: inline-block;
  background-color: #a5e4dc;
  border-radius: 100px;
  padding: 4px 12px;
  font-size: 12px;
  margin: 8px 2px 0;
}
.bubble:first-of-type {
  margin-left: 0;
}

/* about page */
.bio .title {
  font-style: italic;
  font-weight: 300;
}
.bio img {
  border-radius: 4px;
}

.resume .container {
  border-bottom: 1px solid rgba(41, 41, 41, 0.2);
  border-top: 1px solid rgba(41, 41, 41, 0.2);
}
.resume h3 {
  font-weight: 600;
  font-family: "Poppins Semibold", sans-serif;
  color: #2c306f;
  border-bottom: 2px solid #2c306f;
  text-transform: uppercase;
}
.resume h4 {
  margin-top: 24px;
  margin-bottom: 6px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.resume .info p {
  margin-bottom: 2px;
  font-size: 13px;
}

.featured .background {
  background-color: rgba(165, 228, 220, 0.4);
  padding: 24px 24px 8px;
  border-radius: 4px;
}
.featured h3 {
  font-weight: 600;
  font-family: "Poppins Semibold", sans-serif;
  color: #2c306f;
  border-bottom: 2px solid #2c306f;
  text-transform: uppercase;
}
.featured .btn.btn-icon i {
  font-size: 17px;
  align-self: center;
}

/* case study pages */
#project .card {
  border-radius: 4px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border: 0;
  background-color: #ffffff;
  height: 100%;
}
#project .card-body {
  padding: 0.75rem 0 0.25rem;
}
#project .card-text {
  font-size: 13px;
  font-style: italic;
}
#project h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.case-study-heading .container {
  padding-bottom: 24px;
}
.case-study-heading .background {
  background-color: rgba(165, 228, 220, 0.4);
  padding: 24px 24px 8px;
  border-radius: 4px;
}
.case-study-heading .background h2 {
  font-size: 1.325rem;
}
.case-study-heading .background p, .case-study-heading .background li {
  font-size: 0.8rem;
}

.case-study .container {
  padding-top: 24px;
  padding-bottom: 24px;
}
.case-study .container.footer-nav {
  padding-top: 0;
}
.case-study h3 {
  font-weight: 600;
  font-family: "Poppins Semibold", sans-serif;
  color: #2c306f;
  border-bottom: 2px solid #2c306f;
  text-transform: uppercase;
}
.case-study .background {
  background-color: rgba(165, 228, 220, 0.4);
  border-radius: 4px;
  height: 100%;
}
.case-study .background.auto {
  height: auto;
}
.case-study .solution {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins Semibold", sans-serif;
  font-style: normal !important;
}
.case-study .solution.small-bg {
  background-color: rgba(165, 228, 220, 0.4);
  display: inline-block;
  padding: 0 4px;
  border-radius: 2px;
}
.case-study .prototype {
  height: 300px;
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c306f;
}
footer p {
  margin-bottom: 10px;
  color: #ffffff;
}
footer a i {
  color: #ffffff;
}
footer a i:hover {
  color: #ffd048;
}
footer i {
  font-size: 20px;
}

/* media queries */
@media (min-width: 776px) {
  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .hero .hero-info {
    margin: 5rem auto;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .case-study-heading .container {
    padding-bottom: 40px;
  }

  .case-study .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .prototype {
    height: 650px !important;
  }
}
@media (min-width: 1200px) {
  .h3, h3 {
    font-size: 1.5rem;
  }

  .h4, h4 {
    font-size: 1.25rem;
  }
}

/*# sourceMappingURL=styles.css.map */
