
@font-face {
    font-family: Font-awesome-light;
    src: url(../fontawesome/Font\ Awesome\ 5\ Pro-Light-300.otf);
}

$primary-color: #2c306f;
$secondary-color: #a5e4dc;
$tertiary-color: #ffd048;
$black: #292929;
$white: #ffffff;

$body-font: 'Poppins Light', sans-serif;
$light-weight: 300;
$normal-font: 'Poppins', sans-serif;
$normal-weight: 400;
$bold-font: 'Poppins Semibold', sans-serif;
$bold-weight: 600;

/* document */
body {
    font-family: $body-font;
    font-weight: $light-weight;
}

h1, h2 {
    font-family: $bold-font;
    font-weight: $bold-weight;
}
.h3, h3 {
    font-size: calc(1.2rem + .6vw);
}
.h4, h4 {
    font-size: calc(1rem + 0.2vw);
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 92px;
}

.container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.italic {
    font-style: italic;
}
  
.btn {

    &.btn-primary {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white;

        &:hover {
            background-color: $tertiary-color;
            border-color: $tertiary-color;
            color: $primary-color;
        }
    }

    &.btn-link {
        text-decoration: none;
        color: $primary-color;

        &:hover {
            background-color: rgba($secondary-color, .4);
        }
    }

    &.btn-outline-secondary {
        color: $primary-color;
        border-color: $primary-color;

        &:hover {
            color: $white;
            border-color: $primary-color;
            background-color: $primary-color;
        }
    }

    &.btn-icon {
        display: inline-flex;

        i {
            font-size: 22px;
            padding-left: 8px;
            display: flex;
            align-self: flex-end;
        }
    }
}

.text-left, .text-right {
    text-align: center;
}

/* header */
header {
    background-color: $tertiary-color;
}
li.nav-item {
    padding-left: 24px;
    padding-right: 24px;
}
.navbar {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: $tertiary-color;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba($primary-color, .8);
    font-family: $normal-font;
    font-weight: $normal-weight;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: $primary-color;
    font-weight: $bold-weight;
    font-family: $bold-font;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: $primary-color;
}
.navbar-light .navbar-toggler {
    color: $primary-color;
    border-color: transparent;
    font-size: 24px;
}

.navbar-toggler {

    &:focus {
        box-shadow: none;
    }
}

i#theIcon {
    text-align: center;
    width: 21px;
}

/* main */
.hero {
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center center;
    padding: 1rem;
    background-color: $tertiary-color;

    .hero-info {
        margin: 3rem auto;
        padding: 6rem 0 3rem;
    }
}

.recent-work {
    .middle-section {
        border-top: 1px solid rgba($black, .2);
        border-bottom: 1px solid rgba($black, .2);
    }

    .img-fluid {
        border-radius: 4px;
    }
}

.text-side {
    align-self: center;
}

.bubble {
    display: inline-block;
    background-color: $secondary-color;
    border-radius: 100px;
    padding: 4px 12px;
    font-size: 12px;
    margin: 8px 2px 0;

    &:first-of-type {
        margin-left: 0;
    }
}

#home {
    .card {
        box-shadow: 0 0 1rem rgb(0 0 0 / 10%);
        border: 0;
        background-color: $white;
        height: 100%;

        .h2, h2 {
            font-size: calc(1rem + 0.2vw);
            font-family: $normal-font;
            font-weight: $normal-weight;
        }
    }
    .card-body {
        padding: 1rem;
    }
    .card-text {
        font-size: 14px;
    }
}


/* about page */
.bio {

    .title {
        font-style: italic;
        font-weight: $light-weight;
    }

    img {
        border-radius: 4px;
    }
}

.resume {

    .container {
        border-bottom: 1px solid rgba($black, .2);
        border-top: 1px solid rgba($black, .2);
    }

    h3 {
        font-weight: $bold-weight;
        font-family: $bold-font;
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
        text-transform: uppercase;
    }

    h4 {
        margin-top: 24px;
        margin-bottom: 6px;
        font-family: $normal-font;
        font-weight: $normal-weight;
    }

    .info {
        p {
            margin-bottom: 2px;
            font-size: 13px;
        }
    }
}

.featured {
    .background {
        background-color: rgba($secondary-color, .4);
        padding: 24px 24px 8px;
        border-radius: 4px;
    }

    h3 {
        font-weight: $bold-weight;
        font-family: $bold-font;
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
        text-transform: uppercase;
    }
}

.resume, .featured {
    .btn.btn-icon i {
        font-size: 17px;
        align-self: center;
        padding-left: 8px;
    }
}

/* case study pages */
#project {
    .card {
        border-radius: .25rem;
        box-shadow: 0 0 1rem rgb(0 0 0 / 10%);
        padding: 0.5rem;
        border: 0;
        background-color: $white;
        height: 100%;
    }
    .card-body {
        padding: 0.75rem 0 0.25rem;
    }
    .card-text {
        font-size: 13px;
        font-style: italic;
    }

    h4 {
        font-family: $normal-font;
        font-weight: $normal-weight;
    }
}

.case-study-heading {
    .container {
        padding-bottom: 32px;
    }
    .background {
        background-color: rgba($secondary-color, .4);
        padding: 24px 24px 8px;

        h2 {
            font-size: 1.325rem;
        }

        p, li {
            font-size: .8rem;
        }
    }
}

.case-study {
    .container {
        padding-top: 32px;
        padding-bottom: 32px;

        &.footer-nav {
            padding-top: 0;
        }
    }
    h3 {
        font-weight: $bold-weight;
        font-family: $bold-font;
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
        text-transform: uppercase;
    }

    .background {
        background-color: rgba($secondary-color, .4);
        border-radius: 4px; 
        height: 100%;

        &.auto {
            height: auto;
        }
    }

    .solution {
        text-transform: uppercase;
        font-weight: $bold-weight;
        font-family: $bold-font;
        font-style: normal !important;

        &.small-bg {
            background-color: rgba($secondary-color, .4);
            display: inline-block;
            padding: 0 4px;
            border-radius: 2px;
        }
    }
    
    .prototype {
        height: 300px;
    }
}


/* footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;

    p {
        margin-bottom: 10px;
        color: $white;
    }
    a {
        i {
            color: $white;
            padding-left: 5px;
            padding-right: 5px;

            &:hover {
                color: $tertiary-color;
            }
        }
    }

    i {
        font-size: 20px;
    }
}


/* media queries */
@media (min-width: 480px) {
    .case-study-heading {
        .background {
            border-radius: 4px;
        }
    }
}

@media(min-width: 776px) {
    .text-left {
        text-align: left;
    }
    
    .text-right {
        text-align: right;
    }
    .hero {

        .hero-info {
            margin: 5rem auto;
            padding-left: 1rem !important;
            padding-right: 1rem !important;
        }
    }
    .container {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .case-study-heading {
        .container {
            padding-bottom: 56px;
        }
    }
    .case-study {
        .container {
            padding-top: 56px;
            padding-bottom: 56px;
        }
    }
    .prototype {
        height: 650px !important;
    }
}
@media(min-width: 1200px) {
    .h3, h3 {
        font-size: 1.5rem;
    }
    .h4, h4 {
        font-size: 1.25rem;
    }

    #home {
        .card {
            .h2, h2 {
                font-size: 1.25rem;
            }
        }
    }
}
